
@charset "utf-8";

/* ========== reset ========================================================= */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display:block;
}

/* html5 elements */
article, aside, dialog, figure, footer, header,
hgroup, nav, section {
  display:block;
}

body {
  font-size: 100.1%;
  line-height: 1.5;
}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }
table, td, th { vertical-align: middle; }

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* Remove annoying border on linked images. */
a img { border: none; }

a { outline: none; }
/* ========================================================================== */


body { padding: 2em; font-size: 0.88em; color: #666; font-family: Arial, Helmet, "Helvetica Neue", Helvetica, "Nimbus Sans L", Freesans, sans-serif; }

a { color: #666; }
a:hover { color: #000; }

em { font-style: italic; }
strong { font-weight: bold; }

pre { margin-bottom: 1em; margin-top: 0.2em; float: left; clear: both; }
code { background: #f4f4f4; border: 1px dashed #999; font-family: "Lucida Console", Monaco, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", monospace; font-size: 0.93em; }
pre code { display: block; padding: 1em; }

h1 { font-weight: bold; font-size: 2em; }
h2 { font-weight: bold; font-size: 1.28em; margin-top: 3em; margin-bottom: 0.2em; border-bottom: 1px dotted #ddd; clear: both; }
h3 { font-weight: bold; font-size: 1.14em; margin-top: 1em; margin-bottom: 0.2em; clear: both; }

p { clear: both; }
p + p { margin-top: 0.5em; }
h2 + p { margin-top: 1em; }

table { margin-top: 1em; border-collapse: collapse; border: 1px solid #ddd; line-height: 1.5em; }
tr, td, th { border: 1px dashed #ddd; }
thead, tfoot { background: #eee; border: 1px solid #ddd; }
thead th, tfoot td { font-weight: bold; border: 1px solid #ddd; }
td, th { padding: 0.4em 1em; }
td { vertical-align: top; }
table pre { margin: 0; }
table code { background: #f7f7f7; border: 1px dashed #eee; padding: 0; }

button { display: block; margin-top: 0.5em; clear: both; }

ul { margin-left: 1em; margin-top: 1em; }

.clear { clear: both; }

.toc { margin-left: 3em; margin-top: 2em; }

.top { margin-left: 2em; font-size: 0.5em; color: #ccc; }
.top:hover { color: #999; }

.example { margin: 1em 0; padding: 1em; clear: both; overflow: hidden; background: #eee; }
.example h3 { margin-top: 0; }

.changelog-changes { margin-top: 0; margin-bottom: 1em; }
